#ignore html
*.html
#ignore exe
*.exe
#ignore new png
*.png
#ignore C header files
*.h
*.json
#ignore Pycache
# Ignore Python bytecode files
*.pyc
# Ignore __pycache__ in the src/ directory
src/__pycache__/