#ignore html
*.html
#ignore exe
*.exe
#ignore new png
#ignore C header files
#ignore Pycache
# Ignore Python bytecode files
*.pyc
*.png
# Ignore __pycache__ in the src/ directory
src/__pycache__/
#ignore MD for now
README.md
*.log